.menu {
  margin-top: 5%;
  margin-left: 5%;
  grid-area: menu;
  display: flex;
  flex-direction: column;
}

.menu button {
  height: 50px;
  margin: 4% 2%;
  border-radius: 0 100% 100% 0
}

button:hover {
  background-color: orange;
}