* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-areas:
  "header header"
  "menu news"
  "menu news";
  grid-template-columns: 10% 90%;
  background: #141527;
  height: 100vh;
  text-align: center;
  height: 100%;
  width: 100%;
  color: white;
}

.header {
  grid-area: header;
}

.newsContainer {
  grid-area: news;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
